In [10]:
import pandas as pd

In [13]:
school_data_to_load = "../Resources/schools_complete.csv"
student_data_to_load = "../Resources/students_complete.csv"

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [8]:
student_data.head()

NameError: name 'student_data' is not defined

In [3]:
school_data_complete =pd.merge(school_data, student_data, how="left", on=["school_name","school_name"])
school_data_complete.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [69]:
no_of_schools = school_data["school_name"].count()
no_of_schools

15

In [5]:
total_students = student_data["student_name"].count()
total_students

39170

In [6]:
total_budget = school_data["budget"].sum()
total_budget

24649428

In [7]:
avg_math_score = school_data_complete["math_score"].mean()
avg_math_score

78.98537145774827

In [8]:
avg_reading_score = school_data_complete["reading_score"].mean()
avg_reading_score

81.87784018381414

In [9]:
overall_passing_rate = (avg_math_score + avg_reading_score)/2
overall_passing_rate

80.43160582078121

In [10]:
passing_math_score = (student_data.loc[student_data["math_score"]>=70])
passing_students = passing_math_score["student_name"].count()
passing_students

29370

In [11]:
percentage_math_students = (passing_students/total_students)*100
percentage_math_students

74.9808526933878

In [14]:
passing_reading_score = (student_data.loc[student_data["reading_score"]>=70])
passing_students_r = passing_reading_score["student_name"].count()
passing_students_r

33610

In [17]:
percentage_reading_students = (passing_students_r/total_students)*100
percentage_reading_students

85.80546336482001

In [19]:
district_summary_df = pd.DataFrame([{"Total Schools":no_of_schools, "Total Students":total_students, "Total Budget":total_budget, "Average Math Score":avg_math_score, "Average Reading Score":avg_reading_score, "% Passing Math":percentage_math_students, "% Passing Reading":percentage_reading_students, "Overall Passing Rate":overall_passing_rate}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [20]:
school_df = school_data_complete.set_index("school_name")
school_df.head()

,School ID,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
school_name,,,,,,,,,,
Huang High School,0,District,2917,1910635,0,Paul Bradley,M,9th,66,79
Huang High School,0,District,2917,1910635,1,Victor Smith,M,12th,94,61
Huang High School,0,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
Huang High School,0,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
Huang High School,0,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [21]:
school_group_df = school_df.groupby("school_name")

In [22]:

total_students_grouped = school_group_df["student_name"].count()
total_students_grouped

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [23]:
budget_grouped = school_group_df["budget"].sum()/school_group_df["student_name"].count()
budget_grouped

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
dtype: float64

In [24]:
average_grouped = budget_grouped/total_students_grouped
average_grouped

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [25]:
average_math_score_grouped = school_group_df["math_score"].mean()
average_math_score_grouped

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [26]:
avg_reading_score_grouped = school_group_df["reading_score"].mean()
avg_reading_score_grouped

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [27]:
school_type = school_group_df["type"]
school_type.head()

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 75, dtype: object

In [28]:
math_percentage = school_data_complete.loc[school_data_complete["math_score"]>=70]
math_percentage_group = math_percentage.groupby("school_name")
math_percentage_df = math_percentage_group["student_name"].count()
math_percentage_df_1 = ((math_percentage_df/total_students_grouped)*100).map("{:.2f}%".format)
math_percentage_df_1

school_name
Bailey High School       66.68%
Cabrera High School      94.13%
Figueroa High School     65.99%
Ford High School         68.31%
Griffin High School      93.39%
Hernandez High School    66.75%
Holden High School       92.51%
Huang High School        65.68%
Johnson High School      66.06%
Pena High School         94.59%
Rodriguez High School    66.37%
Shelton High School      93.87%
Thomas High School       93.27%
Wilson High School       93.87%
Wright High School       93.33%
Name: student_name, dtype: object

In [29]:
reading_percentage = school_data_complete.loc[school_data_complete["reading_score"]>=70]
reading_percentage_group = reading_percentage.groupby("school_name")
reading_percent_count = reading_percentage_group["student_name"].count()
reading_percent_df_1 = ((reading_percent_count/total_students_grouped)*100).map("{:.2f}%".format)
reading_percent_df_1

school_name
Bailey High School       81.93%
Cabrera High School      97.04%
Figueroa High School     80.74%
Ford High School         79.30%
Griffin High School      97.14%
Hernandez High School    80.86%
Holden High School       96.25%
Huang High School        81.32%
Johnson High School      81.22%
Pena High School         95.95%
Rodriguez High School    80.22%
Shelton High School      95.85%
Thomas High School       97.31%
Wilson High School       96.54%
Wright High School       96.61%
Name: student_name, dtype: object

In [30]:
overall_passing_rate = ((((reading_percent_count + math_percentage_df)/2)/total_students_grouped)*100).map("{:.2f}%".format)
overall_passing_rate

school_name
Bailey High School       74.31%
Cabrera High School      95.59%
Figueroa High School     73.36%
Ford High School         73.80%
Griffin High School      95.27%
Hernandez High School    73.81%
Holden High School       94.38%
Huang High School        73.50%
Johnson High School      73.64%
Pena High School         95.27%
Rodriguez High School    73.29%
Shelton High School      94.86%
Thomas High School       95.29%
Wilson High School       95.20%
Wright High School       94.97%
Name: student_name, dtype: object

In [31]:
passing_rate_df = pd.DataFrame({"Total Students":total_students_grouped, "Total School Budget":budget_grouped, "Per Student Budget":average_grouped, "Average Math Score":average_math_score_grouped, "Average Reading Score":avg_reading_score_grouped, "% Passing Math":math_percentage_df_1 , "% Passing Reading":reading_percent_df_1 , "% Overall Passing Rate":overall_passing_rate})
top_performing_schools = passing_rate_df.sort_values("% Overall Passing Rate", ascending=False)
top_performing_schools.head()

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,
Cabrera High School,1858,1081356.0,582.0,83.061895,83.975780,94.13%,97.04%,95.59%
Thomas High School,1635,1043130.0,638.0,83.418349,83.848930,93.27%,97.31%,95.29%
Griffin High School,1468,917500.0,625.0,83.351499,83.816757,93.39%,97.14%,95.27%
Pena High School,962,585858.0,609.0,83.839917,84.044699,94.59%,95.95%,95.27%
Wilson High School,2283,1319574.0,578.0,83.274201,83.989488,93.87%,96.54%,95.20%

In [32]:
bottom_performing_schools = passing_rate_df.sort_values("% Overall Passing Rate")
bottom_performing_schools.head()

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,
Rodriguez High School,3999,2547363.0,637.0,76.842711,80.744686,66.37%,80.22%,73.29%
Figueroa High School,2949,1884411.0,639.0,76.711767,81.158020,65.99%,80.74%,73.36%
Huang High School,2917,1910635.0,655.0,76.629414,81.182722,65.68%,81.32%,73.50%
Johnson High School,4761,3094650.0,650.0,77.072464,80.966394,66.06%,81.22%,73.64%
Ford High School,2739,1763916.0,644.0,77.102592,80.746258,68.31%,79.30%,73.80%

In [33]:
ninth_grade = (school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby("school_name")["math_score"].mean()).map("{:.2f}".format)
ninth_grade.head()

school_name
Bailey High School      77.08
Cabrera High School     83.09
Figueroa High School    76.40
Ford High School        77.36
Griffin High School     82.04
Name: math_score, dtype: object

In [34]:
tenth_grade = (school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby("school_name")["math_score"].mean()).map("{:.2f}".format)
tenth_grade.head()

school_name
Bailey High School      77.00
Cabrera High School     83.15
Figueroa High School    76.54
Ford High School        77.67
Griffin High School     84.23
Name: math_score, dtype: object

In [35]:
eleventh_grade = (school_data_complete.loc[school_data_complete["grade"]== "11th"].groupby("school_name")["math_score"].mean()).map("{:.2f}".format)
eleventh_grade.head()

school_name
Bailey High School      77.52
Cabrera High School     82.77
Figueroa High School    76.88
Ford High School        76.92
Griffin High School     83.84
Name: math_score, dtype: object

In [36]:
twelth_grade = (school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby("school_name")["math_score"].mean()).map("{:.2f}".format)
twelth_grade.head()

school_name
Bailey High School      76.49
Cabrera High School     83.28
Figueroa High School    77.15
Ford High School        76.18
Griffin High School     83.36
Name: math_score, dtype: object

In [32]:
math_score_df = pd.DataFrame({"9th":ninth_grade, "10th":tenth_grade, "11th":eleventh_grade, "12th":twelth_grade})
math_score_df

                         9th   10th   11th   12th
school_name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

In [33]:
ninth = (school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby("school_name")["reading_score"].mean()).map("{:.2f}".format)
ninth.head()

school_name
Bailey High School      81.30
Cabrera High School     83.68
Figueroa High School    81.20
Ford High School        80.63
Griffin High School     83.37
Name: reading_score, dtype: object

In [34]:
tenth = (school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby("school_name")["reading_score"].mean()).map("{:.2f}".format)
ninth.head()

school_name
Bailey High School      81.30
Cabrera High School     83.68
Figueroa High School    81.20
Ford High School        80.63
Griffin High School     83.37
Name: reading_score, dtype: object

In [35]:
eleventh = (school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby("school_name")["reading_score"].mean()).map("{:.2f}".format)
ninth.head()

school_name
Bailey High School      81.30
Cabrera High School     83.68
Figueroa High School    81.20
Ford High School        80.63
Griffin High School     83.37
Name: reading_score, dtype: object

In [36]:
twelth = (school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby("school_name")["reading_score"].mean()).map("{:.2f}".format)
ninth.head()

school_name
Bailey High School      81.30
Cabrera High School     83.68
Figueroa High School    81.20
Ford High School        80.63
Griffin High School     83.37
Name: reading_score, dtype: object

In [37]:
reading_score_df = pd.DataFrame({"9th":ninth, "10th":tenth, "11th":eleventh, "12th":twelth})
reading_score_df

                         9th   10th   11th   12th
school_name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

In [37]:
spending_df = passing_rate_df[["Per Student Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing Rate"]]
spending_df.head()

,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,
Bailey High School,628.0,77.048432,81.033963,66.68%,81.93%,74.31%
Cabrera High School,582.0,83.061895,83.975780,94.13%,97.04%,95.59%
Figueroa High School,639.0,76.711767,81.158020,65.99%,80.74%,73.36%
Ford High School,644.0,77.102592,80.746258,68.31%,79.30%,73.80%
Griffin High School,625.0,83.351499,83.816757,93.39%,97.14%,95.27%

In [38]:
bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "645-675"]
spending_df["Spending Ranges"] = pd.cut(spending_df["Per Student Budget"], bins, labels=group_names)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [39]:
school_data_complete["Average Per Student"] = school_data_complete["budget"]/school_data_complete["size"]
school_data_complete
bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "645-675"]
school_data_complete["Spending Ranges"] = pd.cut(school_data_complete["Average Per Student"], bins, labels=group_names)

In [40]:
performance_df = school_data_complete.set_index("Spending Ranges")
performance_df

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score,Average Per Student
Spending Ranges,,,,,,,,,,,,
645-675,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79,655.0
645-675,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61,655.0
645-675,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60,655.0
645-675,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58,655.0
645-675,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84,655.0
...,...,...,...,...,...,...,...,...,...,...,...,...
$615-645,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90,638.0
$615-645,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70,638.0
$615-645,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84,638.0
$615-645,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90,638.0
$615-645,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75,638.0

In [41]:
grouped_performace_df = performance_df.groupby("Spending Ranges")
math_df = grouped_performace_df["math_score"].mean()
math_df

Spending Ranges
<$585       83.363065
$585-615    83.529196
$615-645    78.061635
645-675     77.049297
Name: math_score, dtype: float64

In [42]:
reading_df = grouped_performace_df["reading_score"].mean()
reading_df

Spending Ranges
<$585       83.964039
$585-615    83.838414
$615-645    81.434088
645-675     81.005604
Name: reading_score, dtype: float64

In [43]:
math_passing_df = performance_df.loc[performance_df["math_score"]>=70].groupby("Spending Ranges")
math_passing_count = math_passing_df["student_name"].count()
math_passing_count

Spending Ranges
<$585        5967
$585-615     2563
$615-645    12685
645-675      8155
Name: student_name, dtype: int64

In [44]:
passing_students = grouped_performace_df["size"].count()
passing_students

Spending Ranges
<$585        6368
$585-615     2723
$615-645    17766
645-675     12313
Name: size, dtype: int64

In [45]:
math_passing_percentage = (math_passing_count/passing_students)*100
math_passing_percentage

Spending Ranges
<$585       93.702889
$585-615    94.124128
$615-645    71.400428
645-675     66.230813
dtype: float64

In [46]:
reading_passing_df = performance_df.loc[performance_df["reading_score"]>=70].groupby("Spending Ranges")
reading_passing_count = reading_passing_df["student_name"].count()
reading_passing_count

Spending Ranges
<$585        6157
$585-615     2611
$615-645    14855
645-675      9987
Name: student_name, dtype: int64

In [47]:
reading_passing_percentage = (reading_passing_count/passing_students)*100
reading_passing_percentage

Spending Ranges
<$585       96.686558
$585-615    95.886889
$615-645    83.614770
645-675     81.109397
dtype: float64

In [48]:
overall_passing_rate = (math_passing_percentage+reading_passing_percentage)/2
overall_passing_rate

Spending Ranges
<$585       95.194724
$585-615    95.005509
$615-645    77.507599
645-675     73.670105
dtype: float64

In [49]:
score_by_school_spending = pd.DataFrame({"Average Math Score":math_df , "Average Reading Score":reading_df , "% Passing Math":math_passing_percentage, "% Passing Reading":reading_passing_percentage, "% Overall Passing Rate":overall_passing_rate})
score_by_school_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges,,,,,
<$585,83.363065,83.964039,93.702889,96.686558,95.194724
$585-615,83.529196,83.838414,94.124128,95.886889,95.005509
$615-645,78.061635,81.434088,71.400428,83.614770,77.507599
645-675,77.049297,81.005604,66.230813,81.109397,73.670105

In [50]:
# School Size
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
school_data_complete["School Size"] = pd.cut(school_data_complete["size"], size_bins, labels=group_names)
school_data_complete.set_index("School Size")

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score,Average Per Student,Spending Ranges
School Size,,,,,,,,,,,,,
Large (2000-5000),0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79,655.0,645-675
Large (2000-5000),0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61,655.0,645-675
Large (2000-5000),0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60,655.0,645-675
Large (2000-5000),0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58,655.0,645-675
Large (2000-5000),0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84,655.0,645-675
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Medium (1000-2000),14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90,638.0,$615-645
Medium (1000-2000),14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70,638.0,$615-645
Medium (1000-2000),14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84,638.0,$615-645
Medium (1000-2000),14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90,638.0,$615-645
Medium (1000-2000),14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75,638.0,$615-645

In [51]:
size_grouped_df = school_data_complete.groupby("School Size")
size_math_df = size_grouped_df["math_score"].mean()
size_math_df

School Size
Small (<1000)         83.828654
Medium (1000-2000)    83.372682
Large (2000-5000)     77.477597
Name: math_score, dtype: float64

In [52]:
size_reading_df = size_grouped_df["reading_score"].mean()
size_reading_df

School Size
Small (<1000)         83.974082
Medium (1000-2000)    83.867989
Large (2000-5000)     81.198674
Name: reading_score, dtype: float64

In [53]:
size_math_passing = school_data_complete.loc[school_data_complete["math_score"]>=70].groupby("School Size")
size_math_count = size_math_passing["student_name"].count()
size_math_count

School Size
Small (<1000)          1305
Medium (1000-2000)     7978
Large (2000-5000)     20087
Name: student_name, dtype: int64

In [54]:
size_reading_passing = school_data_complete.loc[school_data_complete["reading_score"]>=70].groupby("School Size")
size_reading_count = size_reading_passing["student_name"].count()
size_reading_count

School Size
Small (<1000)          1334
Medium (1000-2000)     8247
Large (2000-5000)     24029
Name: student_name, dtype: int64

In [55]:
size_students_count = size_grouped_df["student_name"].count()
size_students_count

School Size
Small (<1000)          1389
Medium (1000-2000)     8522
Large (2000-5000)     29259
Name: student_name, dtype: int64

In [56]:
size_math_percentage = (size_math_count/size_students_count)*100
size_math_percentage

School Size
Small (<1000)         93.952484
Medium (1000-2000)    93.616522
Large (2000-5000)     68.652380
Name: student_name, dtype: float64

In [57]:
size_reading_percentage = (size_reading_count/size_students_count)*100
size_reading_percentage

School Size
Small (<1000)         96.040317
Medium (1000-2000)    96.773058
Large (2000-5000)     82.125158
Name: student_name, dtype: float64

In [58]:
size_overall_passing = (size_math_percentage + size_reading_percentage)/2
size_overall_passing

School Size
Small (<1000)         94.996400
Medium (1000-2000)    95.194790
Large (2000-5000)     75.388769
Name: student_name, dtype: float64

In [59]:
score_by_size = pd.DataFrame({"Average Math Score":size_math_df , "Average Reading Score":size_reading_df , "% Passing Math":size_math_percentage, "% Passing Reading":size_reading_percentage, "% Overall Passing Rate":size_overall_passing})
score_by_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.828654,83.974082,93.952484,96.040317,94.996400
Medium (1000-2000),83.372682,83.867989,93.616522,96.773058,95.194790
Large (2000-5000),77.477597,81.198674,68.652380,82.125158,75.388769

In [60]:
# School type
school_data_rename = school_data_complete.rename(columns={"type": "School Type"})
school_data_type = school_data_rename.set_index("School Type")
school_data_type.head()

,School ID,school_name,size,budget,Student ID,student_name,gender,grade,reading_score,math_score,Average Per Student,Spending Ranges,School Size
School Type,,,,,,,,,,,,,
District,0,Huang High School,2917,1910635,0,Paul Bradley,M,9th,66,79,655.0,645-675,Large (2000-5000)
District,0,Huang High School,2917,1910635,1,Victor Smith,M,12th,94,61,655.0,645-675,Large (2000-5000)
District,0,Huang High School,2917,1910635,2,Kevin Rodriguez,M,12th,90,60,655.0,645-675,Large (2000-5000)
District,0,Huang High School,2917,1910635,3,Dr. Richard Scott,M,12th,67,58,655.0,645-675,Large (2000-5000)
District,0,Huang High School,2917,1910635,4,Bonnie Ray,F,9th,97,84,655.0,645-675,Large (2000-5000)

In [61]:
school_type_grouped = school_data_type.groupby("School Type")
school_type_math = school_type_grouped["math_score"].mean()
school_type_math

School Type
Charter     83.406183
District    76.987026
Name: math_score, dtype: float64

In [62]:
school_type_reading = school_type_grouped["reading_score"].mean()
school_type_reading

School Type
Charter     83.902821
District    80.962485
Name: reading_score, dtype: float64

In [63]:
total_students_type = school_type_grouped["student_name"].count()
total_students_type

School Type
Charter     12194
District    26976
Name: student_name, dtype: int64

In [64]:
math_type_df = school_data_type.loc[school_data_type["math_score"]>=70].groupby("School Type")
math_type_count = math_type_df["math_score"].count()
math_type_percentage = (math_type_count/total_students_type)*100
math_type_percentage

School Type
Charter     93.701821
District    66.518387
dtype: float64

In [65]:
reading_type_df = school_data_type.loc[school_data_type["reading_score"]>=70].groupby("School Type")
reading_type_count = reading_type_df["reading_score"].count()
reading_type_percentage = (reading_type_count/total_students_type)*100
reading_type_percentage

School Type
Charter     96.645891
District    80.905249
dtype: float64

In [66]:
overall_passing_type = (math_type_percentage + reading_type_percentage)/2
overall_passing_type

School Type
Charter     95.173856
District    73.711818
dtype: float64

In [67]:
school_type_df = pd.DataFrame({"Average Math Score":school_type_math , "Average Reading Score":school_type_reading , "% Passing Math":math_type_percentage, "% Passing Reading":reading_type_percentage, "% Overall Passing Rate":overall_passing_type})
school_type_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.406183,83.902821,93.701821,96.645891,95.173856
District,76.987026,80.962485,66.518387,80.905249,73.711818